.sidenav-container {
  height: 100vh;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu {
  flex: 1 1 auto;
}

.content {
  padding: 16px;
  flex: 1 1 auto;
}
.app-toolbar {
  background: #050814 !important;
  color: #fff !important;
  border-bottom: 1px solid #141b2d;
    display: flex;
  align-items: center;
  gap: 12px;
}
.spacer {
  flex: 1 1 auto;
}
/* NAVY no menu lateral */
.sidenav {
  background: #050814 !important;
  color: #fff !important;
}

/* área interna do menu (essa parte estava cinza no print) */
.sidenav-content {
  background: #050814 !important;
}
