@use '@angular/material' as mat;
@use "./styles/index";

@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-indigo-palette, 900);
$accent: mat.m2-define-palette(mat.$m2-blue-palette, 600);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

$theme: mat.m2-define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
));

@include mat.all-component-themes($theme);

html, body {
  height: 100%;
  margin: 0;
  background-color: #0f1526;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #fff;
}
.mat-mdc-text-field-wrapper,
.mdc-text-field,
.mdc-text-field__background {
  box-shadow: none !important;
  background-image: none !important;
}

.mdc-text-field--outlined::before,
.mdc-text-field--outlined::after,
.mdc-text-field--filled::before,
.mdc-text-field--filled::after {
  display: none !important;
  content: none !important;
}